/* css/styles.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  flex-wrap: wrap;
}

nav a {
  margin-left: 1rem;
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ffff;
}

.cv-button:hover {
  color: white;
}

.cv-button {
  background-color: #00ffff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
  text-decoration: none;
}

.intro {
  padding: 4rem 2rem;
  text-align: center;
  background-attachment: fixed;
  background-image: url('https://source.unsplash.com/1600x900/?technology');
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

#projects,
#skills,
#contact {
  padding: 2rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  max-height: 30vh;
  filter: grayscale(0.8);
}

.project {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  border-radius: 10px;
}

.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills li {
  background-color: #1f1f1f;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#contact a,
#contact a:visited {
  text-decoration: none;
  color: white;
}

.whatsapp-btn {
  border: 1px solid white !important;
  padding: 10px !important;
  width: 100%;
  max-width: 50vw;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  color: #888;
}

footer .attribution,
footer .attribution a {
  font-size: xx-small;
  text-decoration: none;
  color: white;
}

footer .attribution a:visited {
  text-decoration: none;
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}